# Dependency directories
node_modules/

# Environment variables (SECRETS)
.env

# Uploaded Files
uploads/

# Optional npm cache and logs
.npm
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db
